<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная страница</a>
      </li>
      {{#if user}}
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Одежда
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/clothes">Добавить одежду</a></li>
          <li><a class="dropdown-item" href="/clothes/my">Моя одежда</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="mx-auto order-0 navbar-nav mr-auto">
    <li class="nav-item active">
      <a id="nameUser" class="navbar-brand mx-auto" href="/user/logout">{{user.name}}, Выйти</a>
    </li>
  </ul>
  {{else}}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/user/registration">Регистрация</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/user/authorization">Авторизация</a>
    </li>
  </ul>
  {{/if}}
</nav>
