<script defer src="/js/addClothes.js"></script>
<form name="formAddClothes" action="/clothes" method="POST">
  <div class="mb-3">
    <label class="form-label">Адрес фотографии</label>
    <input type="url" name="photo">
  </div>

  <label class="form-label mb-3">Выберите категорию</label>
  <select class="form-select" aria-label="Default select example" name="category">
    {{#each categories}}
    <option value="{{this.title}}">{{this.title}}</option>
    {{/each}}
  </select>

  <div class="mb-3">
    <label class="form-label">Сезон</label>
    <input type="radio" name="season" value="лето">Лето</input>
    <input type="radio" name="season" value="осень">Осень</input>
    <input type="radio" name="season" value="зима">Зима</input>
    <input type="radio" name="season" value="весна">Весна</input>
  </div>

  <div class="mb-3">
    <label class="form-label">Цвет</label>
    <input type="text" name="color">
  </div>

  <div class="mb-3">
    <label class="form-label">Название</label>
    <input type="text" name="title">
  </div>

  <button id="addClothes" type="submit" class="btn btn-primary">Добавить</button>
</form>
