body {
  height: 100%;
  color: white;
  background-color: #19ABB5;
  background: url(https://st2.depositphotos.com/4221109/9748/i/600/depositphotos_97480884-stock-photo-clothes-hanging-on-rail-in.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 26px;
}
.reg{
  background-color: rgb(139, 122, 122);
  position: fixed; left: 40%
}
.form{
  font-size: 20px;
  width: 600px;
  padding: 50px;
  background: #ccc;
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.error{
  position: fixed; right: 30%;
}
#season{
  font-size: 20px;
  word-spacing: 10px;
}
#buttomRedactClothes{
  word-spacing: 10px;
  background-color: rgb(139, 122, 122);
}
#deleteClothes{
  background-color: rgb(139, 122, 122);
}
#buttomsClothes{
  display: flex;
  justify-content: space-around;
}
.formMyClothes{
  font-size: 20px;
  width: 25rem;
  padding: 50px;
  background: #ccc;
}
.myClothes{
  display: grid;  
  grid-auto-flow: column;
}
.city{
  background-color: rgb(139, 122, 122);
}
.h2{
  text-align: center;
}
.complect{
  /* display: grid;  
  grid-auto-flow: column; */
  display: flex;
  align-items: center;
  justify-content: center;
position:relative;
}
.next{
  background-color: rgb(139, 122, 122);
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  width: 250px;
  text-align: center;
  margin-left: 300px;
    margin-top: 42px;
}
.weather{
  width: 16%;
  margin-bottom: 300px;
}
.container-center{
  width: 84%;
}
.all-items{
  display: flex;
  height: 870px;
  align-items: center;
}
.center{
  width: 100%;
  padding: 57px;
  margin-bottom: 200px;
}
